[CRAB]

jobtype = cmssw
scheduler = glite
#server_name = rwth
[CMSSW]

#secondary datasets
#datasetpath = /TTbar/Summer09-MC_31X_V3_SD_Mu9-v1/GEN-SIM-RECO
#datasetpath = /Wmunu/Summer09-MC_31X_V3_SD_Mu9-v2/GEN-SIM-RECO
#datasetpath = /Zmumu/Summer09-MC_31X_V3_SD_Mu9-v1/GEN-SIM-RECO
#datasetpath = /InclusiveMu15/Summer09-MC_31X_V3_SD_Mu9-v1/GEN-SIM-RECO

#original datasets
#datasetpath = /Wmunu/Summer09-MC_31X_V3-v1/GEN-SIM-RECO
#datasetpath = /Zmumu/Summer09-MC_31X_V3-v1/GEN-SIM-RECO
datasetpath = /InclusiveMu15/Summer09-MC_31X_V3-v1/GEN-SIM-RECO

#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
#!!!!!!!!adapt user_remote_dir to the currently used dataset!!!!!!!!!!
#!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

### The ParameterSet you want to use
pset= TopAnalysis/Configuration/analysis/semiLeptonic/diffXSection/patTuple_production_cfg.py

### Total number of events to be accessed: -1 means all ("-1" is not usable if no input)
total_number_of_events= -1

### Number of events to be processed per job
events_per_job = 50000

### Number of jobs to be submitted
#number_of_jobs = 2

### The output files produced by your application (comma separated list)
output_file = PATLayer1_Output.fromAOD_full.root



[USER]
#eMail=holger.enderle@desy.de
#thresholdLevel=100
#################################
#### JOB OUTPUT MANAGEMENT #####
#################################

#data=1 fuer sandbox
#return_data = 1
#data=0 fuer schreiben auf grid
return_data = 0

#copy data 0 fuer sandbox
#copy_data = 0
#und 1 fuer dcache
copy_data = 1


storage_element = T2_DE_DESY
user_remote_dir= OctEx/InclusiveMu15


#################################
####### JOB MONITORING  ### #####
#################################


### Use central BOSS DB instead of one for each task: the DB must be already been setup!
use_central_bossDB = 0

### Use Boss RealTime monitoring
use_boss_rt = 1 


[GRID]
################################
###### GRID specific stuff #####
################################

# LCG middleware version installed on testbed
lcg_version = 2


## CMS myproxy server, to proxy delegation
proxy_server = myproxy.cern.ch 
#proxy_server = grid-pxy.desy.de

## Role in VOMS
#role = superman

## Group in VOMS
#group = superheros


additional_jdl_parameters = AllowZippedISB = false;

###blacklist
se_black_list = T2_US_UCSD,T2_US_Florida,T1_US_FNAL,T2_US_Purdue,T2_US_Wisconsin

## fields written into jdl
virtual_organization = cms

## number or retry count
retry_count = 2

## LFC catalog parameters
lcg_catalog_type = lfc
lfc_host = lfc-cms-test.cern.ch
lfc_home = /grid/cms

